
<div class="wrapper">
  <div>
    <form #f = "ngForm" action="" autocomplete="off" (ngSubmit)="tryLogin(f)">
        <label>ID  </label>
        <br />
        <input size="40px" type="text" name="id" class="inputs" [(ngModel)] = "selectedlogin.id">
        <br />
        <label>PASSWORD  </label>
        <br />
        <input size="40px" type="password" name="password" class="inputs" [(ngModel)] = "selectedlogin.password">
        <br /><br />
        <input type="submit" class="btn btn-info btn-block btn-lg btnlog" value="Login">
        <br />
        <label class="alert">{{msgalert}}</label>
    </form>
  </div>
</div>
