
<div class="wrapper">
  <div>
    <form #f = "ngForm" action="" autocomplete="off" (ngSubmit)="editAccount(f)">
        <label>NAME  </label>
        <br />
        <input size="40px" type="text" name="username" class="inputs" [(ngModel)] = "editinfo.name">
        <br />
        <label>ID  </label>
        <br />
        <input size="40px" type="text" name="id" class="inputs" [(ngModel)] = "editinfo.id" disabled>
        <br />
        <label>CURRENT PASSWORD  </label>
        <br />
        <input size="40px" type="password" name="password" class="inputs" placeholder="(Required)" [(ngModel)] = "editinfo.password">
        <br />
        <label>Email  </label>
        <br />
        <input size="40px" type="text" name="email" class="inputs" placeholder="(Not Required)" [(ngModel)] = "editinfo.email">
      <br /><br />
      <input type="submit" class="btn btn-info btn-block btn-lg btnlog" value="Submit">
      <br />
      <label class="alert">{{msgalert}}</label>
    </form>
  </div>
</div>
