<br />
<h1>{{selectedticker}} - {{selectedcompany}}</h1>
<div>
  <table class="table table-sm table-stripede table-hover"  *ngIf="isresult">
    <thead>
      <tr class="table-info">
        <th style="width: 30%" scope="col">Name</th>
        <th style="width: 30%" scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocksO">
        <th scope="row">{{ stock.name }}</th>
        <td >{{ stock.value }}</td>
      </tr>
      <tr *ngFor="let stock of stocksP">
        <th scope="row">{{ stock.name }}</th>
        <td>{{ stock.value }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <table class="table table-sm table-stripede table-hover" *ngIf="isresult">
    <thead>
      <tr class="table-info">
        <th scope="col">Name</th>
        <th scope="col">2014</th>
        <th scope="col">2015</th>
        <th scope="col">2016</th>
        <th scope="col">2017</th>
        <th scope="col">2018</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocksF">
        <th scope="row">{{ stock.name }}</th>
        <td>{{ stock.value5 }}</td>
        <td>{{ stock.value4 }}</td>
        <td>{{ stock.value3 }}</td>
        <td>{{ stock.value2 }}</td>
        <th scope="row">{{ stock.value1 }}</th>
      </tr>
    </tbody>
  </table>
  <h1 style="color: #71c2ce;"> {{msgalert}}</h1>
</div>
